flows.json
[{"id":"86b459d1.5d5a6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"70d77a4f.b256fc","type":"http in","z":"86b459d1.5d5a6","name":"","url":"/things","method":"get","upload":false,"swaggerDoc":"","x":280,"y":160,"wires":[["7d7ac59c.27632c"]]},{"id":"a30271fc.64258","type":"http response","z":"86b459d1.5d5a6","name":"","statusCode":"","headers":{},"x":650,"y":160,"wires":[]},{"id":"7d7ac59c.27632c","type":"change","z":"86b459d1.5d5a6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"things\":[\"Raindrops on roses\",\"whiskers on kittens\",\"warm woolen mittens\",\"Cream-colored ponies\",\"crisp apple strudels\"]}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":160,"wires":[["a30271fc.64258"]]}]